.catImg{
  width: 100px;
  height: 100px;
  
}
.imgDiv{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.sidebar{
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.header{
  width: 95%;
}
.a{
  border: solid 1px black;
    border-radius: 8px;
    text-decoration: none;
    padding: 10px 15px;
}